.col-lg-6.col-md-6.portfolio-item
  %a{:href => ""}
    -#TODO: load dynamic club cover
    %img.img-responsive{:src => "http://placehold.it/615x218/1C2045/fff&text=#{club.name}"}/
  - if club.categories.any?
    - club.categories.each do |category|
      %span.label.label-default #{category.name}
  - else
    %span.label.label-default Uncategorized

  %h3
    = link_to club.name, club.callink_url
  - if club.facebook_url
    %a{ :href => club.facebook_url }
      %i.fa.fa-facebook-square.fa-2x
  - else
    = render :partial => "edit", :locals => { :club => club }


  %p
    = auto_link(club.description)
