.col-lg-6.col-md-6.portfolio-item
  %a{:href => ""}
    - if event.facebook_pic_cover.present?
      %img.img-responsive{:src => event.facebook_pic_cover }/
    - else
      %img.img-responsive{:src => "http://placehold.it/615x218/1C2045/fff&text=#{event.name}"}/
  - if event.categories.any?
    - event.categories.each do |category|
      %span.label.label-default #{category.name}
  - else
    %span.label.label-default Uncategorized

  %h3
    
    = event.name
    %br
    %small
      = Time::DATE_FORMATS[:long_ordinal].call event.start_time
  - if event.club
    %h5
      by
      = link_to event.club.name, event.club.callink_url
  %h4
    = event.location
  %p
    = auto_link(event.description)
  %p.text-left
    %a{ :href => publishtogoogle_event_path(event) }
      %i.fa.fa-calendar-o.fa-2x
    - if event.facebook_permalink
      %a{ :href => event.facebook_permalink }
        %i.fa.fa-facebook-square.fa-2x

  .pull-left.col-lg-12.col-md-12{ :style => "padding-left:0;"}
    %p.text-left
      - if event.is_facebook?
        %h4
          People Attending
          %br.visible-xs.hidden-sm.hidden-md.hidden-lg
          %small.label.label-primary #{event.facebook_attending_count.to_i}
          %small.label.label-primary 5 Friends

      -# TODO: replace placeholder images with friends images
      - if event.friend_list.present?
        - event.friend_list.each do |friend_hash|
          %a{ :href => friend_hash.profile_url, :target => "_blank" }
            %img.img-circle{ :src => friend_hash.pic_square, :alt => friend_hash.name, :title => friend_hash.name  }

