!!!
%html
  %head
    %title
      - if content_for?(:page_title)
        = yield(:page_title)
      - else
        CalCentral Events

    =stylesheet_link_tag  "application", media: "all"
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
    \#{csrf_meta_tags}

  %body
    %nav.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}


    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container

        .navbar-header
          %a.navbar-brand{:href => "#"} Cal Central Events

        .col-sm-2.col-md-2.pull-right{ :style => "padding-right:0;"}
          - if current_user
            = link_to "Sign out", signout_path, id: "sign_out", :class => "btn btn-primary pull-right", :style => "margin-top: 8px;"
            %img.pull-right{ :src => current_user.facebook_pic_square, :style => "margin-right: 5px; height: 39px; margin-top: 8px;", :title => "#{current_user.name}" }
            %strong{ :style => "display:block; margin-top: 8px; color:white; width: 47px; overflow-wrap: break-word;"}
              - if current_user.name.length > 11
                = "#{current_user.name.slice(0..10)}..."
              - else
                = current_user.name.slice(0..10)

          - else
            = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-primary pull-right", :style => "margin-top: 8px;"

        .col-sm-5.col-md-5.pull-right
          %form.navbar-form{:role => "search", action: search_events_path, method: "GET"}
            .input-group
              .input-group-btn
                %a.btn.btn-default.js-searchtype{:href => "#"}
                  %span Events
                  %b.caret
                %select.form-control{ name: "search_type", style: "position: absolute; min-width: 84px; top: 0; left: 0; z-index: -1;" }
                  %option{ value: "event", selected: ('selected' if session[:search_type] =='event')} Event
                  %option{ value: "club", selected: ('selected' if session[:search_type] == 'club')} Club

              %input#srch-term.form-control{:name => "q", :placeholder => "Search", :type => "text", :value => session[:q]}/
              .input-group-btn
                %button.btn.btn-default{:type => "submit", :style => "margin-left:-4px;"}
                  %i.glyphicon.glyphicon-search
            %label.checkbox-inline
              = check_box_tag 'club', 'yes', session[:club].present?
              %small{ style: "color: white;"} Search by Club
            %label.checkbox-inline
              = check_box_tag 'category', 'yes', session[:category].present?
              %small{ style: "color: white;"} Search by Category

    .container
      .row
        .col-lg-12{ :style => "margin-top: 40px;"}
          - if flash[:success].present?
            .alert.alert-success
              =flash[:success]
          - if flash[:notice].present?
            .alert.alert-info
              =flash[:notice]
          - if flash[:error].present?
            .alert.alert-danger
              =flash[:error]
      = yield :main

    =javascript_include_tag "application"
